{% extends 'base.html' %}

{% block Title %} Home {% endblock Title %}


{% block content %}
    <div class="card">
    <ul>
    {% for post in object_list %}

        {% if post.photo %}
            <img class="card-img-top" src="{{post.photo.url}}" alt="">
        {% endif %}
        <h1><a href="{% url 'post_detail' post.pk %}">{{post.title}} </a></h1>

        <p>{{post.body | slice:'100'}}</p>
        <p class="text-muted">{{post.author}}</p>
        <p>{{post.date}}</p>

        <p><a href="{% url 'update_post' post.pk %}">update_post</a></p>
        <p><a href="{% url 'delete_post' post.pk %}">delete_post</a></p>
    {% endfor %}
    </ul>

        <p><a href="{% url 'create_post' %}">create_post</a></p>

    </div>
{% endblock content %}